body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15, 15, 15);
  color:#fff;

}
.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width: 100vw;;
}
.hmLinkWrap{
  width:auto;
  height:auto;
  display:block;
  margin:auto;
}
.hmBtns{
  height:50px;
  width:200px;
  color:rgba(255, 255, 255, 0.774);
  font-size:1.2em;
}
input:focus{
  outline:none;
}
.inpCode{
  margin:5px 0;
  background-color: rgba(255, 255, 255, 0.062);
  color:rgba(255, 255, 255, 0.692);

}
.formForMeetn {
  display:block;
  width:100%;
  margin:20px 0;
}
.formForMeetn input{
  height:50px;
  width:100%;
  padding:0 10px;
  box-sizing:border-box;
  font-size: 1.1em;
  border-radius: 5px;
  border:0;
  
}
.subBtn{
  background-color:rgba(11, 143, 184, 0.911);
  color:#fff;
  margin:10px 0;
  cursor: pointer;
  border:0;
  font-size: 1.1em;
  font-weight: 500;
}
#roomID{
  color:inherit;
  height:20px;
  /* padding:0 10px; */
  border:0;
  background-color: inherit;
}
#root::-webkit-scrollbar{
  display:none;
}
.formWrap{
  background-color:rgba(255, 255, 255, 0.082);
  padding: 20px;
  border-radius:5px;
  box-shadow:0 0 -10px 7px rgba(221, 41, 41, 0.034),0 0 10px 8px rgb(0, 0, 0);
  width:350px;
  min-height:250px;
}
.grphBox{
  height: 120px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
  padding:10px;
  box-sizing: border-box;
  
}
.grphBox svg{
  height:100px;
  width:100px;
  background-color:rgba(255, 255, 255, 0.027);
  margin:auto;
  vertical-align: center;
  border-radius: 50%;
}
.meetnFormBox{
  width: 90%;
  height:auto;
  margin:auto;
}